CustomerInvoice-AutoCollection-Client-Running/Web References/CollectionInvoiceWS/CustomerInvoiceCollectionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CollectionInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectionInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionInvoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CollectionInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:CollectionInvoice" />
  </wsdl:message>
  <wsdl:message name="CollectionInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:CollectionInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerInvoiceCollectionWSSoap">
    <wsdl:operation name="CollectionInvoice">
      <wsdl:input message="tns:CollectionInvoiceSoapIn" />
      <wsdl:output message="tns:CollectionInvoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerInvoiceCollectionWSSoap" type="tns:CustomerInvoiceCollectionWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectionInvoice">
      <soap:operation soapAction="http://tempuri.org/CollectionInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerInvoiceCollectionWSSoap12" type="tns:CustomerInvoiceCollectionWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectionInvoice">
      <soap12:operation soapAction="http://tempuri.org/CollectionInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerInvoiceCollectionWS">
    <wsdl:port name="CustomerInvoiceCollectionWSSoap" binding="tns:CustomerInvoiceCollectionWSSoap">
      <soap:address location="http://acct.gttglobal.com/CustomerInvoice/CustomerInvoiceCollectionWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerInvoiceCollectionWSSoap12" binding="tns:CustomerInvoiceCollectionWSSoap12">
      <soap12:address location="http://acct.gttglobal.com/CustomerInvoice/CustomerInvoiceCollectionWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>